<!doctype html>
<html lang="pt-BR">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Empregados</title>

</head>

<body style="margin: .5rem;">
    <div style="display: flex; flex-direction: column;">
        <form action="" method="post" autocomplete="off">
            <label for="search">
                Pesquisar nome: 
                <input type="search" id="search" name="nome" class="text-info">
            </label>
            <button class="btn" type="submit">游댌</button>
        </form>
        <ul>
            <h3>Pessoas por setor:</h3>
            <li>Administrativo: {{ count.admin }}</li>
            <li>Designer: {{ count.design }}</li>
            <li>Cont치bil: {{ count.conta }}</li>
            <li>F치brica: {{ count.fab }}</li>
        </ul>
    </div>
    <table class="table">
        <thead>
            <tr>
                <form action="/show/" method="post" autocomplete="off">
                    <th scope="col"><button class="btn" type="submit" name="ordem" value="id">ID</button></th>
                    <th scope="col"><button class="btn" type="submit" name="ordem" value="nome">Nome</button></th>
                    <th scope="col"><button class="btn" type="submit" name="ordem" value="sal_bruto">Sal치rio Bruto</button></th>
                    <th scope="col"><button class="btn" type="submit" name="ordem" value="sal_bruto">Sal치rio L칤quido</button></th>
                    <th scope="col"><button class="btn" type="submit" name="ordem" value="departamento"> Departamento </button></th>
                </form>
            </tr>
        </thead>

        <tbody>
            <style>
                #id{{ minmax.min.id }}, #id{{ minmax.max.id }} {
                    position: relative;
                }
                #id{{ minmax.min.id }}::before {
                    content: "Menor sal치rio";
                    position: absolute;
                    bottom: .5rem;
                    color: red;
                }
                #id{{ minmax.max.id }}::before {
                    content: "Maior sal치rio";
                    position: absolute;
                    bottom: .5rem;
                    color: green;
                }
            </style>
            {{#each results }}
            <tr>
                <td>{{ id }}</td>
                <td>{{ nome }}</td>
                <td>{{parseReal sal_bruto }}</td>
                <td id="id{{ id }}">{{parseReal sal_liquido }} </td>
                <td>{{ departamento }} </td>
                <td><a href="/edit/{{ id }}"><button class="btn btn-warning"> Edit </button></a></td>
                <td><a href="/delete/{{ id }}"><button class="btn btn-danger"> Delete </button></a></td>
            </tr>
            {{/each}}



        </tbody>

    </table>
    <a href="/"><button type="button" class="btn btn-primary">Adicionar empregado</button></a>
</body>